.row {
    margin: 0 auto;
}
.navigation {
    height: 100%;
    border-right: 1px solid #e0e0e0;
}
div.col.s3 {
    padding: 0;
}
div.collection {
    margin: 0;
    border: none;
}
#animation-items {
    display: none;
}
#animation-items {
    border: 0;
}
#animation-items .collection-item {
    padding-left: 3em;
    border: 0;
}
/*main doc*/
h5 {
    padding-left: 2em;
}