.row {
    margin: 0 auto;
}
.navigation {
    height: 100%;
    border-right: 1px solid #e0e0e0;
}
div.col.s3 {
    padding: 0;
}
div.collection {
    margin: 0;
    border: none;
}
#animation-items {
    display: none;
}
#animation-items {
    border: 0;
}
#animation-items .collection-item {
    padding-left: 3em;
    border: 0;
}
/*main doc*/
main {
    overflow: scroll;
    height: 100vh;
}
h5 {
    padding-left: 2em;
    margin-top: 2.14rem;
}
h4 {
    margin-top: 3.14rem;
}
span.grey {
    padding: 3px;
}
ul.class-names {
    padding-left: 5em;
}
ul.class-names li {
    margin: 5px;
}